@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Send Him Fan Mail</h2>
<form>
    <label>From:</label>
    <input id="txtFrom" /><br />
    <label>Subject:</label>
    <input id="txtSubject" /><br />
    <label>Message:</label>
    <textarea id="txtMessage" rows="4"></textarea><br />
    <input id="btnSend" type="button" value="Send Message" />
</form>

<script src="js/FanMail.js"></script>