@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Prof. Ganderson Fan Club";
    ViewData["MyFavoriteIS413Section"] = 1;
}

<h1>Prof. Ganderson Fan Site</h1>
<img id="picGanderson" src="img/ProfGanderson.jpg" />
<p>Prof. Anderson (a.k.a. "Prof. Ganderson") is a Professor in the Information Systems department at BYU</p>
<br />

<p>Pop Quiz: We love him because:</p>
<ul>
    <li>A: The flowing locks he had when he was younger</li>
    <li>B: He can pound a pound of bacon</li>
    <li>C: His exams are so easy</li>
    <li>D: He is just an awesome person who cares about everybody around him</li>
    <li>E: All of the above</li>
</ul>



